@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

* {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    height: 70px;
    margin-bottom: 0;
    border: 0;
}

.navbar .btn-outline-light {
    margin-left: auto;
    transition: background-color 0.3s, color 0.3s;
}

.navbar .btn-outline-light:hover {
    background-color: #ffffff;
    color: #000000;
}

.homepage-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.homepage-title {
    margin: 0;
    border: 0;
    color: black;
    background-color: white;
    border: 2px solid black;
    display: inline-block;
    padding: 5px 5px;
    border-radius: 5px;
}

.detail-game-title {
    margin: 10px;
    border: 0;
    color: black;
    background-color: white;
    border: 2px solid black;
    display: inline-block;
    padding: 5px 5px;
    border-radius: 5px;
}

.fixed-size-img {
    height: 250px;
    object-fit: contain;
    width: 100%;
    margin: 5px 0;
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 0 0px 10px 10px;
    transition: transform 0.2s, box-shadow 0.2s;
    max-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.image-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
    display: inline-block;
}

.review-section {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.section-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
}

.detail-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.text-center {
    text-align: center;
}

.w-25 {
    width: 25%;
}

.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode .btn {
    border-color: #ffffff;
    color: #ffffff;
}

.dark-mode .card {
    background-color: #1e1e1e;
    color: #ffffff;
    border-color: #333333;
}

.dark-mode .homepage-title {
    color: #ffffff;
    background-color: #000000;
}

.dark-mode .review-section {
    background-color: #1e1e1e;
    color: #ffffff;
    border-color: #333333;
}

.dark-mode .section-title {
    color: #ffffff;
}

.dark-mode-toggle {
    width: 40px;
    height: 40px;
    padding: 0;
    margin-right: 10px;
    margin-left: 3px;
}

main {
    margin-top: 90px;
}

.fixed-height-title {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.platform-badge {
    color: #fff;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
    display: inline-block;
}

.rating-text {
    font-weight: bold;
    font-size: 40px;
}

.dark-mode-text {
    color: #fff;
}

.image-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
    max-height: 90%;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-modal img {
    max-width: 100%;
    /* Modificato da 600px a 100% */
    max-height: 100%;
    /* Modificato da 600px a 100% */
    border-radius: 10px;
}

.image-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.close-modal-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    z-index: 1001;
}

.close-modal-btn:hover {
    color: #ff0000;
}

.clickable-image {
    cursor: pointer;
}

.full-screen-image {
    width: 100%;
    height: 100%;
}