/* Importa il font da Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Applica il font globalmente */
body {
    font-family: 'Poppins', sans-serif;
}

* {
    font-family: 'Poppins', sans-serif;
}

.homepage-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.homepage-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    z-index: -1;
}

.no-margin-bottom {
    margin-bottom: 0;
}